<div class="col-md-3 my-5">
          <div class="list-group">

          <div class="list-group-item list-group-item-action">
            <h4 >Tendencias en Chile</h4>
          </div>

            <div class="list-group-item list-group-item-action">
                <h6 class="text-muted " >Música</h6>
                <h5><a href="#" class="open-modal" data-bs-toggle="modal" data-bs-target="#ejemplorails">Madonna en concierto</a></h5>
                <p class="fs-6">3.8k tweets</p>
            </div>

            <div class="modal fade" id="ejemplorails" tabindex="-1" aria-labelledby="ejemplorailsLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <span>Con cierto significado > clic fondo, para salir</span>
                            <img class="img-fluid" src="https://i.pinimg.com/originals/35/1a/0d/351a0d9fd5894c666c5857ae678e0bf7.jpg" alt="ray of light">
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-group-item list-group-item-action">
                <h6 class="text-muted">Deportes</h6>
                <h5>Fútbol partido final</h5>
                <p class="fs-6">5.2k tweets</p>
            </div>
            
            <div class="list-group-item list-group-item-action">
                <h6 class="text-muted">Tendencia</h6>
                <h5>Título remarcado</h5>
                <p class="fs-6">1.2k tweets</p>
            </div>

            <div class="list-group-item list-group-item-action">
                <h6 class="text-muted">Puerto</h6>
                <h5>Evento Star Wars Valpo</h5>
                <p class="fs-6">2.8k tweets</p>
            </div>


            
          </div>
        </div>