<div style="display: flex; align-items: center;">
  <h1 style="margin-right: 10px;">Resultado de Busqueda</h1>
  <span class="d-inline" style="margin-right: 10px;"><a href="/">volver</a></span>
</div>

<%= render @tweets %>